.shadow{
    text-transform: uppercase;
    text-shadow: 3px 4px 5px blue, -4px -5px 5px pink;
}
div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
.box-1{
    box-shadow: 5px 5px 4px rgb(240, 240, 7);
}

p{
    border: 2px solid ;
    height: 60px;
    width: 300px;
    border-radius: 10px;
    overflow-x: auto;
}