form{
    border: 4px double;
    width: 370px;
    height: 520px;
    position: relative;
    top: 15px;
    left: 150px;
    padding: 39px;
}
h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkorchid;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
    text-transform: capitalize;
}
input{
    width: 90%;
    margin-top:10px ;
    height: 22px;
    border-style: inset;
    border-color: purple;
    border-radius: 10px;
}
input:hover{
    background-color: mediumorchid;
}
button{
    position: relative;
    width: 93%;
    height: 30px;
    border-style: inset;
    border-color: mediumpurple;
    border-radius: 10px;
    margin-top: 10px;
}
button:hover{
    background-color: rgba(212, 84, 238, 0.904);
}
button:active{
    font-size: 17px;
    background-color: blueviolet;
}